@charset "UTF-8";

  /*
   em HTML é id = em CSS é #
   em HTMl é class = em CSS é .
  */


body{
    background-color: rgba(162, 162, 162, 0.721);
}
h1{
    color: rgb(0, 128, 0);
}
#principal{
    text-align: center;
    background-color: rgba(4, 109, 0);
    color: white;
}
h2{
    color: rgb(0, 128, 0);
}

.basico{
   color: rgb(63, 170, 41);
}

.intermediario{
    color: blue;
}

.avancado{
    color: yellow;
}
.destaque{
    background-color: bisque;
}